body {
	margin: 50px;
}

.header {
	background-color: #FFB4B0;
	border: 2px solid black;
	padding: 8px;
	height: 40px;
	margin: 5px;
}

.container {
	display: flex;
}
.left-screen {
	background-color:  #4DD7FA;
	border: 2px solid black;
	/*float: left;*/
	/*overflow: auto;*/
	width: 25%;
	padding: 3px 0 0 2px;
	margin: 5px;
}

.left-screen > * {
	padding: 4px;
}

.right-screen {
	background-color: #FEFAC0;
	color: #785616;
	border: 2px solid black;
	/*float: right;*/
	width: 70%;
	padding: 3px 0 6px 2px;
	margin: 5px;
}
.right-screen > * {
	padding: 2px;
} /*Research flex box */

div button {
	margin: 7px auto;
	width: 20%;
	display: block;
}

legend {
	font-weight: bold;
}
.column1 {
	float: left;
	border: 0;
	padding: 4px;
}

.column1 label {
	padding: 5px;
}

.column2 {
	border: 0;
	/*float: right;*/
	padding: 4px;
}

.column2 label {
	padding: 3px;
}

.button {
	padding: 5px;
}