.header {
	background-color: #FFB4B0;
	border: 2px solid black;
	margin: 0 auto;
	width: 80%;
	padding: 30px 0;
	font-size: 20px;
}

.container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	padding: 3px;
}

.left-screen {
	background-color:  #4DD7FA;
	border: 2px solid black;
	flex 1;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
}


.right-screen {
	background-color: #FEFAC0;
	color: #785616;
	border: 2px solid black;
	flex: 3;
	margin-left: 3px;
	padding-left: 10px;
}

p{
	display: inline-block;
}

legend {
	font-weight: bold;
	font-size: 20px;
}

.column1,
.column2 {
	float: left;
	border: 0;
	padding: 2px;
	font-size: 20px;
}

.button {
	display: flex;
	width: 20%;
	padding: 8px;
}

.wrapper{
  position:  absolute;
  top : 200px;
  left: 300px;
  width: 300px;
  height:300px;
}

.list{
	 position: relative;
	 display: block;
	 margin : 0 auto;
	}

	label{
		font: 20px bold Tahoma;
	}

/*.button {
	padding: 10px;
}*/